<div class="container text-center" class="jumbotron jumbotron-fluid" style="background-color:#E9F0FF">
<br><br><br>
<h4 class="display-4" style="color:maroon"><b>Edit Your Car Listing</b></h4><form action="/cars" method="post">
<h4 style="color:maroon"><b>Update The Below Fields That Need To Be Changed</b></h4>
<br>
<form action="/cars/<%=@car.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
  <label><b>Make</b></label>
  <input class="form-control form-control-sm" type="text" name="car[make]" value="<%=@car.make%>">
  <br>
  <label><b>Model</b></label>
  <input class="form-control form-control-sm" type="text" name="car[model]" value="<%=@car.model%>" >
  <br>
  <label><b>Year</b></label>
  <input class="form-control form-control-sm" type="integer" name="car[year]" value="<%=@car.year%>">
  <br>
  <label><b>Exterior Color</b></label>
  <input class="form-control form-control-sm" type="text" name="car[exterior_color]" value="<%=@car.exterior_color%>">
  <br>
  <label><b>Mileage</b><br>(Do Not Use Comma ',')</label>
  <input class="form-control form-control-sm" type="integer" name="car[mileage]" value="<%=@car.mileage%>">
  <br>
  <label><b>Price</b><br>(Do Not Use Dollar Sign '$' or Comma ',')</label>
  <input class="form-control form-control-sm" type="integer" name="car[price]" value="<%=@car.price%>">
  <br>
  <label>Image URL</label>
  <input class="form-control form-control-sm" type="text" name="car[image_url]">
  <br>
  <button class="btn btn-info" type="submit">Submit</button>
</form>
</div>
