<div class="jumbotron text-center" style="background-color:#E9F0FF;">
  <h3>Make: <%=@car.make%></h3>
  <br><br>
  <h3>Model: <%=@car.model %></h3>
  <br><br>
  <h3>Year: <%=@car.year %></h3>
  <br><br>
  <h3>Exterior Color: <%=@car.exterior_color %></h3>
  <br><br>
  <h3>Mileage: <%=@car.mileage%></h3>
  <br><br>
  <h3>Price: $<%=@car.price%></h3>
  <br><br> 
  <a href="<%= @car.image_url %>" class="btn btn-info">View Photo</a>
  <br><br>



    <% if current_user == @car.user %>
      <button type="submit" class="btn btn-warning"><a href="/cars/<%= @car.id %>/edit">Edit Listing</button>
    <br><br>
    <form action="/cars/<%=@car.id %>" method="post" >
      <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">Delete Listing</button>
    <% end %>
        
    </form>
</div>